$null: 0;
$black: black;
$five: 5px;


header{
  padding: $null;
  top: $null;
  left: $null;
  right: $null;
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  .header{
    margin: $null;
    padding: 10px;
    color: $black;
  }
  .h1header{
    font-family: "Droid Serif";
  }
  .h4header{
    font-family: Bevan;
  }
}

footer{
  padding: 20px;
  left: $null;
  right: $null;
  bottom: $null;
  background-color: rgba(110, 110, 110, 0.4);
  position: fixed;
  .socialmedia{
    float: right;
    padding: 10px;
    a i {
      font-size: 30px;
    }
  }
}


/*Hamburger Button*/

.container {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  margin-left: $five;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: $five;
  background-color: #333;
  margin: 6px $null 4px $null;
  transition: 0.4s;
}
.bar1{
  margin-top: 8px;
}


/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: $null;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Dropdown-Menü */
.dropdown{
  margin-left: $null;
  padding-left: $null;
  margin-top: 4px;
  position: relative;
  display: inline-block;
  float: left;
  /*&:hover .dropdown-content{
    display: block;
  }*/
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 190px;
  z-index: 1;
  box-shadow: $null 8px 16px $null rgba($null,$null,$null,0.2);
  background-color: #f1f1f1;
}

.content{
  color: $black;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
  &:hover{
    cursor: pointer;
    background-color: rgba(110, 110, 110, 0.5);
  }
  a{
    color: $black;
    font-weight: bold;
  }
}

.aktuelleseite{
  color: rgb(110, 110, 110);
}

.menu{
  background-color: rgba(30, 120, 160, 0.8);
  box-shadow:
          inset 0 0 30px rgb(190, 240, 270),
          3px 3px 20px rgb(110, 110, 110);
  //border: 1px solid rgb(40, 130, 190);
}

.links{
  h1{
    font-family: "Droid Serif";
    margin-top: 5px;
  }
}

.nav {
  margin-left: $five;
  a{
    color: $black;
  }
}





