$auto: auto;
$null: 0;
$radius1: 1px;
$radius7: 7px;
$font: normal 14px Arial !important;


body {
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  padding: 10px;
  top: $null;
  left: $null;
  right: $null;
  background-color: rgba(110, 110, 110, 0.6);
  color: black;
  .h1header{
    font-family: "Droid Serif";
  }
  .h4header{
    font-family: Bevan;
  }
}


.glyphicon.glyphicon-ok{
  color: green;
}

.form-group{
  color: #eeeeee;
}


.innenmitte{
  background-color: rgba(50, 50, 50, 0.7);
  box-shadow: 0 0 40px rgb(110, 110, 110);
  margin-left: $auto;
  margin-right: $auto;
  padding: $auto;
  border-bottom-right-radius: $radius1;
  border-bottom-left-radius: $null;
  border-radius: $radius7;
  font: $font;
}
#exampleInputEmail1{
  margin-bottom: -1px;
  border-bottom-right-radius: $radius1;
  border-bottom-left-radius: $null;
  border-radius: $radius7;
}
#exampleInputPassword1{
  margin-bottom: -1px;
  border-bottom-right-radius: $radius1;
  border-bottom-left-radius: $null;
  border-radius: $radius7;
}
.h3login{
  font-family: "Droid Serif";
}

.pwforgot{
  font-size: 1em;
}

.regist{
  margin-bottom: -1px;
  border-bottom-right-radius: $radius1;
  border-bottom-left-radius: $null;
  border-radius: $radius7;
}

.forgot{
  margin-bottom: -1px;
  border-bottom-right-radius: $radius1;
  border-bottom-left-radius: $null;
  border-radius: $radius7;
}





