$null: 0;
$five: 5px;
$percent: 1.6%;

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

header{
  padding: $null;
  top: $null;
  left: $null;
  right: $null;
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  .header{
    //background-color: rgba(110, 110, 110, 0.5);
    margin: $null;
    padding: 10px;
    color: black;
  }
  .h1header{
    font-family: "Droid Serif";
    text-shadow: 10px 8px 3px rgba(0, 0, 0, 0.4);
  }
  .h4header{
    font-family: Bevan;
  }
}

footer{
  padding: 20px;
  left: $null;
  right: $null;
  bottom: $null;
  background-color: rgba(110, 110, 110, 0.4);
  position: fixed;
  box-shadow: 3px 3px 20px rgb(110, 110, 110);
  .socialmedia{
    float: right;
    padding: 10px;
    a i {
      font-size: 30px;
    }
  }
}

.picture {
  border-radius: $five;
  height: 300px;
  width: 23%;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: $percent;
  float: left;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}
.first{
  background-image: url("../Pictures/IMG-20160621-WA0011.jpg");
  margin-left: $percent;
}
.second{
  background-image: url("../Pictures/Nachhilfe.jpg");
}
.third{
  background-image: url("../Pictures/crowd.jpg");
}
.fourth{
  background-image: url("../Pictures/landkarte.jpg");
  margin-left: $null;
}

.picture {
  position: relative;
  &:hover{
    animation: bounce 1s;
  }
  a {
    position: absolute;
    top: $null;
    left: $null;
    right: $null;
    bottom: $null;
    display: block;
  }
}

.row{
  padding: $percent;
  padding-right: $null;
  margin-right: $null;
  width: 100%;

  /*Bild zentriert */
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bildschrift{
  border-top-left-radius: $five;
  border-top-right-radius: $five;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(110, 110, 110, 0.6);
}

h2{
  font-family: "Droid Serif";
  color: black;
}


/*Hamburger Button*/

.container {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  margin-left: 5px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px $null 4px $null;
  transition: 0.4s;
}
.bar1{
  margin-top: 8px;
}


/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: $null;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Dropdown-Menü */
.dropdown{
  background-color: red;
  position: relative;
  display: inline-block;
  float: left;
  width: 60px;
  &:hover .dropdown-content{
    display: block;
  }
}

.aktuell{
  width: 200px;
  background-color: green;
  float: left;
}

.collapse{
  background-color: #f1f1f1;
  float: left;
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #f1f1f1;
}

.content{
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
  &:hover{
    cursor: pointer;
    background-color: rgba(110, 110, 110, 0.8);
  }
}



.menu{
  background-color: rgba(30, 120, 160, 0.8);
  box-shadow: inset 0 0 30px lightblue;
  border: 1px solid rgb(110, 110, 110);
}