.forgot input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 0;
    border-radius: 7px;
}

.btn{
    border-radius: 7px;
}

.pwforgot{
    cursor: pointer;
}

.glyphicon-ok{
    color: green;
}