body {
    background-image: url(Bechtle_Success_FH_Kufstein.jpg);
    no-repeat: center center fixed;
    -moz-background-size: cover;
    background-size: cover;

}

.form-group{
color: #eeeeee;
}

/*.form-group {
    max-width: 330px;
    padding: 250px;
    margin: auto;
}*/



/*.form-group .form-signin-heading,*/
/*.form-group .checkbox {*/
    /*margin-bottom: 10px;*/
    /*color: #eeeeee;*/
/*}*/
/*.form-group .checkbox {*/
    /*font-weight: normal;*/
/*}*/
/*.form-group .form-control {*/
    /*position: relative;*/
    /*height: auto;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*padding: 10px;*/
    /*font-size: 16px;*/
/*}*/
/*.form-group .form-control:focus {*/
    /*z-index: 2;*/
/*}*/
/*.form-group input[type="email"] {*/
    /*margin-bottom: -1px;*/
    /*border-bottom-right-radius: 1px;*/
    /*border-bottom-left-radius: 0;*/
    /*border-radius: 7px;*/
/*}*/
/*.form-group input[type="password"] {*/
    /*margin-bottom: 10px;*/
    /*border-top-left-radius: 1px;*/
    /*border-top-right-radius: 0;*/
    /*border-radius: 7px;*/
/*}*/

/*.btn{*/
    /*border-radius: 7px;*/
/*}*/



