/* line 8, ../sass/anmelden.scss */
body {
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 16, ../sass/anmelden.scss */
header {
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(110, 110, 110, 0.6);
  color: black;
}
/* line 23, ../sass/anmelden.scss */
header .h1header {
  font-family: "Droid Serif";
}
/* line 26, ../sass/anmelden.scss */
header .h4header {
  font-family: Bevan;
}

/* line 32, ../sass/anmelden.scss */
.glyphicon.glyphicon-ok {
  color: green;
}

/* line 36, ../sass/anmelden.scss */
.form-group {
  color: #eeeeee;
}

/* line 41, ../sass/anmelden.scss */
.innenmitte {
  background-color: rgba(50, 50, 50, 0.7);
  box-shadow: 0 0 40px #6e6e6e;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 0;
  border-radius: 7px;
  font: normal 14px Arial !important;
}

/* line 52, ../sass/anmelden.scss */
#exampleInputEmail1 {
  margin-bottom: -1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 0;
  border-radius: 7px;
}

/* line 58, ../sass/anmelden.scss */
#exampleInputPassword1 {
  margin-bottom: -1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 0;
  border-radius: 7px;
}

/* line 64, ../sass/anmelden.scss */
.h3login {
  font-family: "Droid Serif";
}

/* line 68, ../sass/anmelden.scss */
.pwforgot {
  font-size: 1em;
}

/* line 72, ../sass/anmelden.scss */
.regist {
  margin-bottom: -1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 0;
  border-radius: 7px;
}

/* line 79, ../sass/anmelden.scss */
.forgot {
  margin-bottom: -1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 0;
  border-radius: 7px;
}
