@charset "UTF-8";
/* line 6, ../sass/beitragseiten.scss */
header {
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 15, ../sass/beitragseiten.scss */
header .header {
  margin: 0;
  padding: 10px;
  color: black;
}
/* line 20, ../sass/beitragseiten.scss */
header .h1header {
  font-family: "Droid Serif";
}
/* line 23, ../sass/beitragseiten.scss */
header .h4header {
  font-family: Bevan;
}

/* line 28, ../sass/beitragseiten.scss */
footer {
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(110, 110, 110, 0.4);
  position: fixed;
}
/* line 35, ../sass/beitragseiten.scss */
footer .socialmedia {
  float: right;
  padding: 10px;
}
/* line 38, ../sass/beitragseiten.scss */
footer .socialmedia a i {
  font-size: 30px;
}

/*Hamburger Button*/
/* line 47, ../sass/beitragseiten.scss */
.container {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  margin-left: 5px;
}

/* line 54, ../sass/beitragseiten.scss */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0 4px 0;
  transition: 0.4s;
}

/* line 61, ../sass/beitragseiten.scss */
.bar1 {
  margin-top: 8px;
}

/* Rotate first bar */
/* line 67, ../sass/beitragseiten.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
/* line 73, ../sass/beitragseiten.scss */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
/* line 78, ../sass/beitragseiten.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown-Men├╝ */
/* line 84, ../sass/beitragseiten.scss */
.dropdown {
  margin-left: 0;
  padding-left: 0;
  margin-top: 4px;
  position: relative;
  display: inline-block;
  float: left;
  /*&:hover .dropdown-content{
    display: block;
  }*/
}

/* line 96, ../sass/beitragseiten.scss */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 190px;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

/* line 105, ../sass/beitragseiten.scss */
.content {
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
}
/* line 110, ../sass/beitragseiten.scss */
.content:hover {
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.5);
}
/* line 114, ../sass/beitragseiten.scss */
.content a {
  color: black;
  font-weight: bold;
}

/* line 120, ../sass/beitragseiten.scss */
.aktuelleseite {
  color: #6e6e6e;
}

/* line 124, ../sass/beitragseiten.scss */
.menu {
  background-color: rgba(30, 120, 160, 0.8);
  box-shadow: inset 0 0 30px #bef0ff, 3px 3px 20px #6e6e6e;
}

/* line 133, ../sass/beitragseiten.scss */
.links h1 {
  font-family: "Droid Serif";
  margin-top: 5px;
}

/* line 139, ../sass/beitragseiten.scss */
.nav {
  margin-left: 5px;
}
/* line 141, ../sass/beitragseiten.scss */
.nav a {
  color: black;
}
