@charset "UTF-8";
/* line 6, ../sass/beitragseiten.scss */
header {
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 15, ../sass/beitragseiten.scss */
header .header {
  margin: 0;
  padding: 10px;
  color: black;
}
/* line 21, ../sass/beitragseiten.scss */
header .h1header {
  font-family: "Droid Serif";
  text-shadow: 10px 8px 3px rgba(0, 0, 0, 0.4);
}
/* line 25, ../sass/beitragseiten.scss */
header .h4header {
  font-family: Bevan;
}

/* line 30, ../sass/beitragseiten.scss */
footer {
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(110, 110, 110, 0.4);
  position: fixed;
  box-shadow: 3px 3px 20px #6e6e6e;
}
/* line 38, ../sass/beitragseiten.scss */
footer .socialmedia {
  float: right;
  padding: 10px;
}
/* line 41, ../sass/beitragseiten.scss */
footer .socialmedia a i {
  font-size: 30px;
}

/* line 47, ../sass/beitragseiten.scss */
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/*Hamburger Button*/
/* line 61, ../sass/beitragseiten.scss */
.container {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  margin-left: 5px;
}

/* line 68, ../sass/beitragseiten.scss */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0 4px 0;
  transition: 0.4s;
}

/* line 75, ../sass/beitragseiten.scss */
.bar1 {
  margin-top: 8px;
}

/* Rotate first bar */
/* line 81, ../sass/beitragseiten.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
/* line 87, ../sass/beitragseiten.scss */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
/* line 92, ../sass/beitragseiten.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown-Men├╝ */
/* line 98, ../sass/beitragseiten.scss */
.dropdown {
  margin-left: 0;
  padding-left: 0;
  margin-top: 4px;
  position: relative;
  display: inline-block;
}
/* line 104, ../sass/beitragseiten.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 109, ../sass/beitragseiten.scss */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 190px;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

/* line 118, ../sass/beitragseiten.scss */
.content {
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
}
/* line 123, ../sass/beitragseiten.scss */
.content:hover {
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.8);
}
/* line 127, ../sass/beitragseiten.scss */
.content a {
  color: black;
  font-weight: bold;
}

/* line 133, ../sass/beitragseiten.scss */
.aktuelleseite {
  color: #6e6e6e;
}

/* line 137, ../sass/beitragseiten.scss */
.menu {
  background-color: rgba(30, 120, 160, 0.8);
  box-shadow: inset 0 0 30px lightblue, 3px 3px 20px #6e6e6e;
  border: 1px solid #6e6e6e;
}

/* line 145, ../sass/beitragseiten.scss */
.beitragbutton {
  background-color: #1e78a0;
}

/* line 150, ../sass/beitragseiten.scss */
.links h1 {
  font-family: "Droid Serif";
  margin-top: 5px;
}

/* line 156, ../sass/beitragseiten.scss */
.nav {
  margin-left: 5px;
}
/* line 158, ../sass/beitragseiten.scss */
.nav a {
  color: black;
}
