@charset "UTF-8";
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/* line 24, ../sass/start.scss */
header {
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 33, ../sass/start.scss */
header .header {
  margin: 0;
  padding: 10px;
  color: black;
}
/* line 38, ../sass/start.scss */
header .h1header {
  font-family: "Droid Serif";
}
/* line 41, ../sass/start.scss */
header .h4header {
  font-family: Bevan;
}

/* line 46, ../sass/start.scss */
footer {
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(110, 110, 110, 0.4);
  position: fixed;
  box-shadow: 3px 3px 20px #6e6e6e;
}
/* line 54, ../sass/start.scss */
footer .socialmedia {
  float: right;
  padding: 10px;
}
/* line 57, ../sass/start.scss */
footer .socialmedia a i {
  font-size: 30px;
}

/* line 63, ../sass/start.scss */
.einleitung {
  margin-left: 28px;
  margin-top: 0;
  padding-left: 25px;
  border-radius: 5px;
  color: black;
}
/* line 73, ../sass/start.scss */
.einleitung h2 {
  margin-top: 10px;
}

/* line 79, ../sass/start.scss */
.picture {
  border-radius: 5px;
  height: 300px;
  width: 23%;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 1.6%;
  float: left;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
/* line 91, ../sass/start.scss */
.picture:hover {
  animation: bounce 1s;
}
/* line 94, ../sass/start.scss */
.picture a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

/* line 103, ../sass/start.scss */
.first {
  background-image: url("../Pictures/IMG-20160621-WA0011.jpg");
  margin-left: 1.6%;
}

/* line 107, ../sass/start.scss */
.second {
  background-image: url("../Pictures/Nachhilfe.jpg");
}

/* line 110, ../sass/start.scss */
.third {
  background-image: url("../Pictures/crowd.jpg");
}

/* line 113, ../sass/start.scss */
.fourth {
  background-image: url("../Pictures/landkarte.jpg");
  margin-left: 0;
}

/* line 118, ../sass/start.scss */
.row {
  padding: 1.6%;
  padding-right: 0;
  margin-right: 0;
  margin-top: 20px;
  width: 100%;
  /*Bild zentriert */
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 133, ../sass/start.scss */
.bildschrift {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(110, 110, 110, 0.7);
}

/* line 143, ../sass/start.scss */
h2 {
  font-family: "Droid Serif";
  color: black;
}

/*Hamburger Button*/
/* line 151, ../sass/start.scss */
.container {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  margin-left: 5px;
}

/* line 158, ../sass/start.scss */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0 4px 0;
  transition: 0.4s;
}

/* line 165, ../sass/start.scss */
.bar1 {
  margin-top: 8px;
}

/* Rotate first bar */
/* line 171, ../sass/start.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
/* line 177, ../sass/start.scss */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
/* line 182, ../sass/start.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown-Men├╝ */
/* line 188, ../sass/start.scss */
.dropdown {
  margin-left: 0;
  padding-left: 0;
  margin-top: 4px;
  position: relative;
  display: inline-block;
  float: left;
}

/* line 197, ../sass/start.scss */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 190px;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* line 207, ../sass/start.scss */
.content {
  color: black;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
}
/* line 212, ../sass/start.scss */
.content:hover {
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.5);
}
/* line 215, ../sass/start.scss */
.content:hover:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
/* line 221, ../sass/start.scss */
.content:hover:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
/* line 228, ../sass/start.scss */
.content a {
  color: black;
  font-weight: bold;
}

/* line 234, ../sass/start.scss */
.aktuelleseite {
  color: #6e6e6e;
}

/* line 238, ../sass/start.scss */
.menu {
  background-color: rgba(40, 150, 180, 0.8);
  box-shadow: inset 0 0 30px #bef0ff, 0 3px 20px #6e6e6e;
}

/* line 246, ../sass/start.scss */
.nav {
  margin-left: 5px;
}
/* line 248, ../sass/start.scss */
.nav a {
  color: black;
}
