/* line 2, ../sass/start.scss */
header {
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../Pictures/Bechtle_Success_FH_Kufstein.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 11, ../sass/start.scss */
header .header {
  background-color: rgba(110, 110, 110, 0.5);
  margin: 0;
  padding: 10px;
  color: black;
}
/* line 17, ../sass/start.scss */
header .h1header {
  font-family: "Droid Serif";
}
/* line 20, ../sass/start.scss */
header .h4header {
  font-family: Bevan;
}

/* line 25, ../sass/start.scss */
footer {
  padding: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(110, 110, 110, 0.4);
  position: fixed;
}

/* line 34, ../sass/start.scss */
.picture {
  border-radius: 5px;
  height: 300px;
  width: 23%;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 1.6%;
  float: left;
  box-sizing: border-box;
}
/* line 44, ../sass/start.scss */
.picture:last-child {
  margin-right: 0;
}
/* line 47, ../sass/start.scss */
.picture:first-child {
  margin-left: 1.6%;
}

/* line 52, ../sass/start.scss */
.row {
  padding: 1.6%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* line 59, ../sass/start.scss */
.first {
  background-image: url("../Pictures/IMG-20160621-WA0011.jpg");
}

/* line 63, ../sass/start.scss */
.second {
  background-image: url("../Pictures/Nachhilfe.jpg");
}

/* line 67, ../sass/start.scss */
.third {
  background-image: url("../Pictures/crowd.jpg");
}

/* line 71, ../sass/start.scss */
.fourth {
  background-image: url("../Pictures/landkarte.jpg");
}

/* line 75, ../sass/start.scss */
.bildschrift {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(110, 110, 110, 0.6);
}

/* line 85, ../sass/start.scss */
h2 {
  font-family: "Droid Serif";
  color: black;
}

/* line 90, ../sass/start.scss */
.socialmedia {
  float: right;
  padding: 10px;
}
